@use 'src/shared/assets/scss' as *;

.cases-page {
  width: 1550px;
  margin: 0 auto;
  padding-top: 20px;

  @include media-breakpoint-down(xxlg) {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.cases-page__title {
  font-size: 150px;
  font-weight: 800;
}

.cases-page__rect {
  margin-left: 60%;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  transform: rotate(15deg);
  border: 4px solid #fff;
}

.cases-page__board {
  margin-top: 130px;
  padding: 0 100px;
}
